<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>校园电费缴费平台-登陆</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <!-- Meta tags -->
    <!-- font-awesome icons -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
</head>

<body>
<h1 class="error"></h1>
<div class="w3layouts-two-grids">
    <div class="mid-class">
        <div class="txt-left-side" style="border-radius: 15px 0 0 15px">
            <h2> 校园电费管理平台 </h2>
            <p>从这登陆，随时随地，方便使用</p>
            <form action="#" method="post" th:action="@{/back/login}">
                <div class="form-left-to-w3l">
                    <span class="fa fa-user-o" aria-hidden="true"></span>
                    <input type="username" name="username" autocomplete="off" placeholder="管理员账号" required="">
                </div>
                <div class="form-left-to-w3l ">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <input type="password" name="password" autocomplete="off" placeholder="密码" required="">
                </div>
                <div class="btnn">
                    <button type="submit">登陆</button>
                </div>

                <div class="modal-body">
                    <strong style="color:red" th:unless="${#strings.isEmpty(message)}"
                            th:text="${message}">"用户名和密码错误！"</strong>
                </div>


            </form>

        </div>
        <div class="img-right-side" style="border-radius: 0 15px 15px 0">
            <img th:src="@{/images/whutlogo.png}" class="img-fluid" alt="">
            <h3></h3>
            <img th:src="@{/images/ad_img.jpg}" class="img-fluid" alt="">
        </div>
    </div>
</div>
<footer class="copyrigh-wthree">
    <p>
        © 2020 WHUT-Seventh Group
    </p>
</footer>
</body>

</html>
