<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/admin-style.min.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin-main.min.js}"></script>
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside th:replace="admin/common::menu(2)"></aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header th:replace="admin/common::header"></header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid" >


                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="card" style="margin-top: 5%;background-color: #f5f6fa">
                            <div class="card-toolbar clearfix" style="padding-top: 8%;padding-bottom: 8%;background-color:#FFFFFF;border-radius: 10px;box-shadow: 0 0 30px #aaaaaa">

                                <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data" onsubmit="return false;">

                                    <div class="form-group">
                                        <label class="col-md-2 control-label col-md-offset-1" for="id">宿舍id</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" id="id" name="id" placeholder="4401" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label col-md-offset-1" for="campus">校区</label>
                                        <div class="col-md-8">
                                            <select class="form-control" id="campus" name="campus" size="1">
                                                <!-- <option value="">请选择校区</option>-->
                                                <!-- <option th:each="" th:value="" th:selected=""></option>-->
                                                <option value="">请选择校区</option>
                                                <option value="0">余家头校区</option>
                                                <option value="1">马房山校区</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label col-md-offset-1" for="buildingNo">楼号</label>
                                        <div class="col-md-8">
                                            <select class="form-control" id="buildingNo" name="buildingNo" size="1">
                                                <!--<option value="">请选择楼号</option>-->
                                                <!--<option th:each="" th:value="" th:selected=""></option>-->
                                                <option value="">请选择楼号</option>
                                                <option value="1">海虹一栋</option>
                                                <option value="2">海虹二栋</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label col-md-offset-1" for="dormitoryNo">门牌号</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" id="dormitoryNo" name="dormitoryNo" placeholder="请输入门牌号">
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top: 32px">
                                        <div class="col-xs-6" style="text-align: center">
                                            <button class="btn btn-secondary"  type="submit">修改</button>
                                        </div>
                                        <div class="col-xs-6" style="text-align: center">
                                            <button class="btn btn-secondary" id="returnBtn">返回</button>
                                        </div>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
</body>

</html>
