<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/admin-style.min.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin-main.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
<!--        &lt;!&ndash;左侧导航&ndash;&gt;-->
        <aside th:replace="admin/common::menu(2)"></aside>
<!--        &lt;!&ndash;End 左侧导航&ndash;&gt;-->

        <!--头部信息-->
        <header th:replace="admin/common::header"></header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="ui container" >


                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1" >
                        <div class="card" style="margin-top: 5%;background-color: #f5f6fa">
                            <div class="card-toolbar clearfix" style="padding-top: 8%;background-color:#FFFFFF;padding-bottom: 8%;border-radius: 10px;box-shadow: 0 0 30px #aaaaaa">

                                <form class="ui form" th:action="@{/admin/PayUnit/savePayUnit}" method="post"  >
<!--                                    <div class="form-group">-->
<!--                                        <label class="col-md-2 control-label col-md-offset-1" for="id">宿舍id</label>-->
<!--                                        <div class="col-md-8">-->
<!--                                            <input class="form-control" type="text" id="id" name="id" placeholder="请输入宿舍id">-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label col-md-offset-1" for="campus">校区</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" id="campus" name="campus" placeholder="请选择校区">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="col-md-2 control-label col-md-offset-1" for="buildingNo">楼号</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" id="buildingNo" name="buildingNo" placeholder="请选择楼号">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label col-md-offset-1" for="dormitoryNo">门牌号</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" id="dormitoryNo" name="dormitoryNo" placeholder="请输入门牌号">
                                        </div>
                                    </div>
                                    <div class="ui error message"></div>

                                    <div class="vain-area"></div>
                                    <div class="form-group" style="margin-top: 32px">
                                        <div class="col-xs-6" style="text-align: center">
                                            <button class="btn btn-secondary"  type="submit">添加</button>
                                        </div>
                                    </div>
                                </form>
                               <form th:action="@{/admin/PayUnit}">
                                   <div class="form-group" style="margin-top: 32px">
                                       <div class="col-xs-6" style="text-align: center">
                                           <button class="btn btn-secondary" id="returnBtn" type="submit">返回</button>
                                       </div>
                                   </div>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });
    
    $('.ui.form').form({
        
        fields : {
            id : {
                identifier: 'id',
                
                rules: [{
                    type : 'empty',
                    prompt: '请输入区域id'
                }]
            },
            campus : {
                identifier: 'campus',
                rules: [{
                    type : 'empty',
                    prompt: '请输入校区'
                }]
            },
            buildingNo : {
                identifier: 'buildingNo',
                rules: [{
                    type : 'empty',
                    prompt: '请输入楼号'
                }]
            },
            dormitoryNo : {
                identifier: 'dormitoryNo',
                rules: [{
                    type : 'empty',
                    prompt: '请输入门牌号'
                }]
            }
        }
    });
</script>

</body>

</html>
