
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/admin-style.min.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin-main.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside th:replace="admin/common::menu(2)"></aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header th:replace="admin/common::header"></header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">
                
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">

                                <div class="form-horizontal"  enctype="multipart/form-data" onsubmit="return false;">
                                    
                                    <input type="hidden" name="page">
                                    <div class="form-group">
                                        <label class="col-xs-12" for="dormitoryNo">缴费单位号</label>
                                        <div class="col-xs-12">
                                            <input class="form-control" type="text" id="id" name="id" placeholder="请输入缴费单位号">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-xs-12" for="campus">校区</label>
                                        <div class="col-xs-12">
                                            <select class="form-control" id="campus" name="campus" size="1">
                                                <!-- <option value="">请选择校区</option>-->
                                                <!-- <option th:each="" th:value="" th:selected=""></option>-->
                                                 <option value="">请选择校区</option>
                                                 <option th:each="campus:${campus}" th:value="${campus}"  th:text="${campus}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12" for="buildingNo">楼号</label>
                                        <div class="col-xs-12">
                                            <select class="form-control" id="buildingNo" name="buildingNo" size="1">
                                                <!--<option value="">请选择楼号</option>-->
                                                <!--<option th:each="" th:value="" th:selected=""></option>-->
                                                <option value="">请选择楼号</option>
                                                <option th:each="building_no:${building_no}" th:value="${building_no}"  th:text="${building_no}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-12" for="dormitoryNo">门牌号</label>
                                        <div class="col-xs-12">
                                            <input class="form-control" type="text" id="dormitoryNo" name="dormitoryNo" placeholder="请输入门牌号">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-xs-2 col-lg-2 col-lg-offset-8">
                                            <button type="button" name="search" class="btn_search" style="background-color: #FFFFFF;width:80%;border-color: #4d5192;border-radius: 5px;color: #4d5192" >查询</button>
                                        </div>
                                        <div class="col-xs-2 col-lg-2">          
                                            <button type="button"  class="btn_add"   style="background-color: #FFFFFF;width:80%;border-color: #4d5192;border-radius: 5px;color: #4d5192" >新增宿舍号</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">


                              <div th:fragment="payUnitList" id="table-responsive">
                                    <table  class="table table-bordered">
                                        
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>缴费单位号</th>
                                            <th>校区</th>
                                            <th>楼号</th>
                                            <th>门牌号</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        
                                        <tr th:each="payUnit,iterStat:${page.content}" >
                                            <td th:text="${iterStat.count}">1</td>
                                            <td th:text="${payUnit.id}"></td>
                                            <td th:text="${payUnit.campus}"></td>
                                            <td th:text="${payUnit.buildingNo}"></td>
                                            <td th:text="${payUnit.dormitoryNo}"></td>
                                            <td>
<!--                                                <a h:href="@{/admin/PayUnit}" href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal basic button">编辑</a>-->
<!--                                                <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red basic button">删除</a>-->
                                                <div class="btn-group">                    
                                                    <a class="btn btn-xs btn-default" th:href="@{/admin/PayUnit/showUpdUnit(id=${payUnit.id})}" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                                                    <a class="btn btn-xs btn-default" th:href="@{/admin/PayUnit/deleteUnitById(id=${payUnit.id})}"title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                                                </div>                     
                                            </td>
                                        </tr>
                                        </tbody>
                                       
                                    </table> 
                                  <tfoot>
                                  <div class="pagination" th:if="${page.totalPages} > 1" >
                                  <a onclick="page(this)" th:attr="data-page=${page.number}-1"  th:unless="${page.first}" class=" item">上一页</a>
                                  <a onclick="page(this)" th:attr="data-page=${page.number}+1"  th:unless="${page.last}" class=" item">下一页</a>
                                  </div>
                              </tfoot>           
                                </div>
                                
                                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                                    <i class="close icon"></i>
                                    <div class="header">提示：</div>
                                    <p th:text="${message}">恭喜，操作成功！</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>-->
<script>

    
<!--    -->
   $(".btn_add").click(function () {
       $(".lyear-layout-web").load("/admin/PayUnit/showAddUnit");
   });


    // 分页信息 
    function page(obj) {
        $("input[name=page]").val($(obj).data("page"));
        loaddata();
    }
    
    $(".btn_search").click(function () {
        $("input[name=page]").val(0);
        loaddata();
    });
    
    // 提交搜索
    // 局部刷新搜索
    function  loaddata(){
        
        $("#table-responsive").load("/admin/PayUnit/search",{
            id : $("input[name=id]").val(),
            campus : $("select[name=campus]").val(),
            buildingNo : $("select[name=buildingNo]").val(),
            dormitoryNo : $("input[name=dormitoryNo]").val(),
            page : $("input[name=page]").val()
            
        });
        
        
    }
    
    
    
    
    // $(".btn_search").click(function () {
    //    
    //     var campus = $("select[name=campus]").val();
    //     var buildingNo = $("select[name=buildingNo]").val();
    //     var page =$("select[name=page]").val();
    //     // alert(campus + buildingNo + page);
    //    
    //     $.ajax({
    //         url: "/admin/PayUnit/search",
    //         type: "POST",
    //         dataType: "JSON",
    //         data: {
    //             campus: campus,
    //             buildingNo: buildingNo,
    //             page:page
    //         },
    //         // success: function (data) {
    //         //     if (data.result == "1") {
    //         //         window.location.href = "/unit.html";
    //         //     } else {
    //         //     }
    //         // }
    //     });
    //     loaddata();
        
    // });

    // 局部刷新搜索
    // function  loaddata(){
        // $("#table-responsive").load("/admin/PayUnit/search",{
        //     campus : $("input[name=campus]").val(),
        //     buildingNo : $("input[name=buildingNo]").val(),
        //     page : $("input[name=page]").val()
        // });

        //     var campus = $("input[name=campus]").val();
        //     var buildingNo = $("input[name=buildingNo]").val();
        //     var page =$("input[name=page]").val();
        // $.ajax({
        //     url: "/admin/PayUnit/search",
        //     type: "POST",
        //     dataType: "JSON",
        //     data: {
        //         campus: campus,
        //         buildingNo: buildingNo,
        //         page:page,
        //     },
        //     success: function (data) {
        //         if (data.result == "1") {
        //             window.location.href = "/admin/unit.html";
        //         } else {
        //         }
        //     }
        // })
    // }
</script>
</body>

</html>


