<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/admin-style.min.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin-main.min.js}"></script>
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside th:replace="admin/common::menu(5)"></aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header th:replace="admin/common::header"></header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">
                                <form class="pull-right search-bar" method="get" action="#!" role="form">
                                    <div class="row m-b-10">
                                        <div class="col-lg-10">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button">搜索</button>
                                                </span>
                                                <input type="text" class="form-control" placeholder="请输入管理员ID.">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="toolbar-btn-action">
                                    <a class="btn m-r-5" style="border-color: #4d5192;color: #4d5192" href="#!"><i
                                            class="mdi mdi-plus"></i> 新增</a>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>用户名</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="admin,iterStat:${page.content}">
                                            <td th:text="${iterStat.count}">1</td>
                                            <td th:text="${admin.username}">用户名</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default" href="#!" title="编辑"
                                                       data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                                                    <a class="btn btn-xs btn-default" href="#!" title="删除"
                                                       data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <ul class="pagination" th:if="${page.totalPages}>1">
                                    <li><a th:href="@{/admin/admins(page=${page.number}-1)}"
                                           th:unless="${page.first}">«</a></li>
                                    <!-- 中间页 -->
                                    <li th:each="pageNum:${#numbers.sequence(0, page.getTotalPages() - 1)}" >
                                        <a th:href="@{/admin/admins(page=${pageNum})}" th:text="${pageNum + 1}" th:if="${pageNum ne page.pageable.getPageNumber()}"></a>
                                        <a th:href="@{/admin/admins(page=${pageNum})}" th:text="${pageNum + 1}" th:if="${pageNum eq page.pageable.getPageNumber()}"  th:style="'font-weight:bold;background: #6faed9;'"></a>
                                    </li>
                                    <li><a th:href="@{/admin/admins(page=${page.number}+1)}" th:unless="${page.last}"
                                           href="#!">»</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
</body>
<script>

    // // 分页信息
    // function page(obj) {
    //     $("input[name=page]").val($(obj).data("page"));
    //     loaddata();
    // }
    //
    // // 提交搜索
    // $("#search").click(function () {
    //     // $("input[name=page]").val($(obj).data("page"));
    //     $("input[name=page]").val(0);
    //     loaddata();
    // });
    //
    // // 局部刷新搜索
    // function  loaddata(){
    //     $("#table-container").load("/admin/blogs/search",{
    //         title : $("input[name=title]").val(),
    //         typeId : $("input[name=typeId]").val(),
    //         recommend : $("input[name=recommend]").prop('checked'),
    //         page : $("input[name=page]").val()
    //     });
    // }
</script>
</html>
