<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head(~{::title})">
  <title>校园电费缴费平台-缴费</title>
</head>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside th:replace="common :: sidebar">
    </aside>
    <!--End 左侧导航-->


    <!--头部信息-->
    <header class="lyear-layout-header" th:replace="common :: header('电费-缴费')">
    </header>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">     
      <div class="container-fluid">
        <div class=" card-updatepassword card">
          <div class="card-header"><h4><strong>电费账单</strong></h4></div>
          <div class="card-body">      
            <form action="#" method="post" >
              <div class="form-group">
                <label >账单编号</label>
                <input class="form-control" type="text"  th:value="${electricity.id}" disabled>
              </div>

              <div class="form-group">
                <label >住宅区域</label>
                <input class="form-control" type="text"  th:value="${electricity.payUnit.campus}+${electricity.payUnit.buildingNo}+${electricity.payUnit.dormitoryNo}" disabled>
              </div>

              <div class="form-group">
                <label >账单时间</label>
                <input class="form-control" type="text"  th:value="${electricity.createTime}" disabled>
              </div>

              <div class="form-group">
                <label >用电量</label>
                <input class="form-control" type="text"  th:value="${electricity.electricityConsumption}+度" disabled>
              </div>

              <div class="form-group">
                <label >电费</label>
                <input class="form-control" type="text"  th:value="${electricity.electricCharge}+元" disabled>
              </div>

        
              <div class="form-group">
             
                 <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog purple-border" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><strong>提示</strong></h4>
                      </div>
                      <div class="modal-body">
                        <strong>即将跳转到第三方支付</strong>
                      </div>
                      <div class="modal-footer ">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <a type="button" class="btn btn-success"  th:href="@{/pay/electricityGetPaid(id=${electricity.id})}">继续</a>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-secondary " type="button"  data-toggle="modal" data-target="#myModal" ><i class="mdi mdi-checkbox-marked-circle-outline"></i><strong>缴费</strong></button>
              </div>
            </form>     
          </div>
        </div>
      </div>    
    </main>
    <!--End 页面主要内容-->
  </div>
</div>



</body>
</html>