<!DOCTYPE html>
<html lang="zh">

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head(~{::title})">
  <title>校园电费缴费平台-缴费记录</title>
</head>

<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside th:replace="common :: sidebar">
    </aside>
    <!--End 左侧导航-->


    <!--头部信息-->
    <header class="lyear-layout-header" th:replace="common :: header('个人信息-缴费记录')">
    </header>
    <!--End 头部信息-->

    <!--页面主要内容-->
    <main class="lyear-layout-content">
      <div class="container-fluid">

        <div class="card-body">
          <input type="hidden" name="page">
          <div class="search-area-payhistory">
            <div class="form-group">
              <h4><strong>账单对应月份</strong></h4>
            </div>
                <div class="search-area-payhistory-left">
                  <div class="input-daterange input-group js-datepicker" data-auto-close="false" data-date-format="yyyy-mm">
                    <input class="form-control" type="text" id="search-area-payhistory-begintime" name="date1" placeholder="从">
                    <span class="input-group-addon"><i class="mdi mdi-chevron-right"></i></span>
                    <input class="form-control" type="text" id="search-area-payhistory-endtime" name="date2" placeholder="至">
                  </div>
                </div>
                <div class="search-area-payhistory-right">
                  <button class="btn btn-dark mybtn" id="search"><i class="mdi mdi-search-web"></i><strong>查询</strong></button>
                </div>

            <div class="vain-area"></div>
            <div class="table-responsive"  id="table-container" th:fragment="payhistoryList">
              <table class="table table-bordered" >
                <thead>
                <tr>
                  <th>账单编码</th>
                  <th>缴费单位</th>
                  <th>对应月份</th>
                  <th>用电量</th>
                  <th>电费</th>
                  <th>付款时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="electricity,iterStat:${page.content}">
                  <td th:text="${electricity.id}">000000000000</td>
                  <td th:text="${electricity.payUnit.campus}+' '+${electricity.payUnit.buildingNo}+' '+${electricity.payUnit.dormitoryNo}+''">南湖校区</td>
                  <td th:text="${#dates.format(electricity.createTime,'yyyy-MM')}">2012/12</td>
                  <td th:text="${electricity.electricityConsumption}+'度'">50度</td>
                  <td th:text="${electricity.electricCharge}+'元'">100元</td>
                  <td th:text="${electricity.payTime}">2012-12-01 17：53</td>
                </tr>
                </tbody>

              </table>
              <div class="pagination">
                <a onclick="page(this)" th:attr="data-page=${page.number}-1" th:unless="${page.first}" class="btn btn-secondary btn-sm" ><i class="mdi mdi-arrow-left-thick"></i>上一页</a>
                <a onclick="page(this)" th:attr="data-page=${page.number}+1" th:unless="${page.last}"  class="btn btn-secondary btn-sm" ><i class="mdi mdi-arrow-right-thick"></i>下一页</a>
              </div>

            </div>
          </div>
    </main>
    <!--End 页面主要内容-->
  </div>
</div>


<script>

  // 分页信息
  function page(obj) {
    $("input[name=page]").val($(obj).data("page"));
    loaddata();
    console.log( $("input[name=page]").val());
  }

  // 提交搜索
  $("#search").click(function () {
    $("input[name=page]").val(0);
    loaddata();
  });

  // 局部刷新搜索
  function  loaddata(){
    $("#table-container").load("/pay/payhistorys/search",{
      page : $("input[name=page]").val(),
      startdate:$("input[name=date1]").val(),
      enddate:$("input[name=date2]").val(),
    });

  }




</script>
</body>
</html>