<!DOCTYPE html>
<html lang="zh">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head(~{::title})">
  <title>第三方支付平台</title>
</head>
<style>
  body{
    background-color: #fff;
  }
  .error-page {
    height: 100%;
    position: fixed;
    width: 100%;
  }
  .error-body {
    padding-top: 5%;
  }
  .error-body h1 {
    font-size: 210px;
    font-weight: 700;
    text-shadow: 4px 4px 0 #f5f6fa, 6px 6px 0 #33cabb;
    line-height: 210px;
    color: #33cabb;
  }
  .error-body h4 {
    margin: 30px 0px;
  }
</style>
<body>
<section class="error-page">
  <div class="error-box">
    <div class="error-body text-center">
      <h2>您已支付成功！</h2>
      <a href="paysuccess.html" class="btn btn-success btn-lg ">返回</a>
    </div>
  </div>
</section>

</body>
</html>