<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head(~{::title})">
  <title>校园电费缴费平台-缴费成功</title>
</head>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside th:replace="common :: sidebar">
    </aside>
    <!--End 左侧导航-->


    <!--头部信息-->
    <header class="lyear-layout-header" th:replace="common :: header('缴费-支付成功')">
    </header>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">     
      <div class="container-fluid">
        <div class=" card-updatepassword card">
          <div class="card-header"><h4><strong>缴费结果</strong></h4></div>
          <div class="card-body">      
          
            <div class=" paymentsuccess modal-dialog purple-border" role="document">
              <div class="modal-content">
                <div class="modal-header">
               
                  <h4 class="modal-title" ><strong>提示</strong></h4>
                </div>
                <div class="modal-body">
                  <i class="mdi mdi-checkbox-marked-circle-outline"></i> <strong>您已成功缴费！</strong>
                </div>
                <div class="modal-footer ">
                  <a type="button" class="btn btn-secondary"  href="index.html"><i class="mdi mdi-home"></i><strong>返回主界面</strong></a>
                </div>
              </div>
            </div>
              
           
          </div>
        </div>
      </div>    
    </main>
    <!--End 页面主要内容-->
  </div>
</div>



</body>
</html>