
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>校园电费缴费平台-登陆</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
    <!-- Meta tags -->
    <!-- font-awesome icons -->
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
</head>

<body>
    <h1 class="error"></h1>
    <div class="w3layouts-two-grids">
        <div class="mid-class">
            <div class="txt-left-side">
                <h2> 校园电费缴费平台 </h2>
                <p>注册一个账号，方便你的使用</p>
                <form action="#" method="post">
                    <div class="form-left-to-w3l">
                        <span class="fa fa-user-o" aria-hidden="true"></span>
                        <input type="username" name="username" autocomplete="off"  placeholder="用户名" required="">                   
                    </div>
                    <div class="form-left-to-w3l ">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <input type="password" name="password" autocomplete="off"  placeholder="密码" required="">                    
                    </div>   
                    <div class="form-left-to-w3l ">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <input type="password" name="repassword" autocomplete="off"  placeholder="确认密码" required="">                    
                    </div>               
                    <div class="btnn">
                        <button type="submit">注册</button>
                    </div>
                    <div class="w3layouts_more-buttn">
                        <h3>放弃注册？
                            <a href="#" th:href="@{/login.html}">返回登陆
                            </a>
                        </h3>
                    </div>
                </form>

              
            </div>
            <div class="img-right-side">
                <img src="../static/images/whutlogo.png"th:src="@{/images/whutlogo.png}"  class="img-fluid" alt="">
                <h3></h3>
                <img src="../static/images/ad_img.jpg" th:src="@{/images/ad_img.jpg}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <footer class="copyrigh-wthree">
        <p>
            © 2020 WHUT-Seventh Group
        </p>
    </footer>
</body>

</html>