<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head(~{::title})">
  <title>校园电费缴费平台-修改密码</title>
</head>

<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside th:replace="common :: sidebar">
    </aside>
    <!--End 左侧导航-->


    <!--头部信息-->
    <header class="lyear-layout-header" th:replace="common :: header('用户信息-修改密码')">
    </header>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">     
      <div class="container-fluid">
        <div class=" card-updatepassword card">
          <div class="card-header"><h4><strong>密码修改</strong></h4></div>
          <div class="card-body">      
            <form action="#" method="post" >
              <div class="form-group">
                <label for="oldpassword">原密码</label>
                <input class="form-control" type="password" id="oldpassword" name="oldpassword" placeholder="请输入原密码">
              </div>
              <div class="form-group">
                <label for="newpassword">新密码</label>
                <input class="form-control" type="password" id="newpassword" name="newpassword" placeholder="请输入新密码">
              </div>
              <div class="form-group">
                <label for="repassword">新密码</label>
                <input class="form-control" type="password" id="repassword" name="repassword" placeholder="请再次输入新密码">
              </div>
            
              <div class="form-group">
             
                <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                 <div class="modal-dialog purple-border" role="document">
                   <div class="modal-content">
                     <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <h4 class="modal-title" id="myModalLabel"><strong>提示</strong></h4>
                     </div>
                     <div class="modal-body">
                       <strong>"您成功修改密码！"</strong>
                     </div>
                     <div class="modal-footer ">
                       <a href="index.html" type="button" class="btn btn-success" ><i class="mdi mdi-home"></i>返回</a>                     
                     </div>
                   </div>
                 </div>
               </div>

               <button class="btn btn-secondary " type="button"  data-toggle="modal" data-target="#myModal" ><i class="mdi mdi-checkbox-marked-circle-outline"></i><strong>修改</strong></button>
             </div>
            </form>     
          </div>
        </div>
      </div>    
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="../static/js/jquery.min.js" ></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/perfect-scrollbar.min.js"></script>
<!--标签插件-->
<script src="../static/js/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="../static/js/main.min.js"></script>
</body>
</html>